.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background-color: rgba(var(--DarkBlue));
  color: #cfcfcf;
  .logo {
    width: 100%;
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #4af2f7;
      background: radial-gradient(
        circle farthest-corner at center center,
        rgba(var(--LightBlue)) 5%,
        rgba(var(--LightGreen)) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      div {
        background-color: rgba(var(--LightBlue));
        width: 60px;
        height: 20px;
        border-radius: 5rem;
        margin-left: 5px;
      }
    }
  }
  .footertxt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    svg {
      margin-left: 3px;
      color: #4af2f7;
    }
    a {
      text-decoration: underline;
      margin-left: 3px;
      &:hover {
        text-decoration: none;
        color: #4af2f7;
      }
    }
  }
}

@media (max-width: 762px) {
  .container {
    width: 100%;
    padding: 10px;
    .logo {
      h1 {
        justify-content: flex-start;
      }
    }
  }
}
